<div class="container  mt-5 ">
    <div class="my-3 text-center">
        <h1 class="text-title fw-bold">Te damos la bienvenida a CAEP</h1>
        <p>Para iniciar, cuentanos un poco sobre tí</p>
    </div>
</div>

<div class="container welcomeForm d-flex align-items-center">
    
    <section class="w-100 text-center"  *ngIf="formPage==0">
        <div class="  d-flex justify-content-center  ">
        
            <button class="btn avatar d-flex justify-content-center align-items-center hvr-grow" type="button">
                <i class="bi bi-camera text-white lead"></i>
            </button>

        </div>

            
        <label class="label text-muted ">
            Selecciona una foto de perfil (Opcional)
        </label>
    </section>
    


    <section class="w-100" *ngIf="formPage==1">
        <div class="my-3">
            <label class="label" for="inputName">Nombre*</label>
            <input class="form-control" type="text" name="inputName" placeholder="Ej. Luis Alonso">
        </div>
    
        <div class="my-3">
            <div class="row">
                <div class="col">
                    <label class="label" for="inputMomLastName">Apellido Paterno*</label>
            <input class="form-control" type="text" name="inputMomLastName" placeholder="Ej. Hernandez">
                </div>
    
                <div class="col">
                    <label class="label" for="inputDadLastName">Apellido Materno*</label>
            <input class="form-control" type="text" name="inputDadLastName" placeholder="Ej. Telléz">
                </div>
                
            </div>
        </div>
    </section>

    <section class="w-100" *ngIf="formPage==2">
        <div class="my-3">
            <label class="label" for="inputNumber">Fecha de nacimiento</label>
            <input class="form-control" type="date" name="inputNumber" placeholder="Ej. 5659189164">
        </div>
    
        <div class="my-3">
            <label class="label" for="inputNumber">Telefono (Opcional)</label>
            <input class="form-control" type="tel" name="inputNumber" placeholder="Ej. 5659189164">
        </div>
    
    </section>
    

   
    
  

</div>

<div class="container welcomeForm ">

    
    <div class="my-3">
        <progress class="w-100" style="height: 8px;" id="file" value="{{formPage }}" max="2"> 32% </progress>
    </div>

    <div class="d-grid" *ngIf="formPage<2">
        <button class="btn btn-primary" type="button" (click)="nextFormPage()">
            <span>
                Siguiente
            </span>
           
        </button>
    </div>

    <div class="d-grid" *ngIf="formPage==2">
        <button class="btn btn-primary animate__animated animate__pulse" type="button">
            <span >
                Crear perfil
            </span>
           
        </button>
    </div>

    <div class="d-grid" *ngIf="formPage>0" (click)="returnFormPage()">
        <button class="btn text-primary" type="button">
            <span >
                Regresar
            </span>
           
        </button>
    </div>
</div>