<div class="container  my-3">
    
    <div class="row">
        <div class="col text-start">
            <img class="logo" src="../../../assets/images/brand/icon-logo-webp.webp" alt="">                
        </div>
        <div class="col  d-flex align-items-center justify-content-end">
            <span class="d-none d-lg-block">
                {{message}}
            </span>
            <button class="btn btn-light fw-semibold ms-2" type="button" (click)="navigate()">{{textButton}}</button>
    
        </div>
    </div>
</div>
