<div class="container-fluid border-end drawer py-4">
    <div class="row">
        <div class="col">
            <img class="avatar btn p-0" src="../../../assets/images/user/avatar-webp.webp" alt="user image">
        </div>
        <div class="col d-flex justify-content-end align-content-center">
            <button class="btn p-0 hvr-grow border-0 animate__animated animate__headShake " type="button">
                <i class="bi bi-cart3 lead"></i>
                <span class="badge bg-primary rounded-pill py-2">
                        0
                </span>
            </button>
        </div>
    </div>

    <br>

    <div class="lead fw-bold">Nombre del usuario</div>
    
    <div class="d-grid btn p-0 m-0 border-0">
        <div class="row  ">
            <div class="col text-start small">
                electronico@gmail.com
            </div>
            <div class="col-auto">
                <i class="bi bi-chevron-down small"></i>
            </div>
           
        </div>
    </div>

    <hr>

    <div class="d-grid">
        <button class="btn btn-outline-primary border-0 " type="button">
            <div class="row">
                <div class="col-auto">
                    <i class="bi bi-search"></i>
                </div>
                <div class="col text-start fw-bold">
                    Explorar
                </div>
         </div>    
        </button>
    </div>


    <div class="d-grid">
        <button class="btn btn-outline-primary border-0 " type="button">
            <div class="row opacity-75">
                <div class="col-auto">
                    <i class="bi bi-book"></i>
                </div>
                <div class="col text-start ">
                    Mis cursos
                </div>
         </div>    
        </button>
    </div>



     
    
</div>